<div class="modal-body">
      <input type="text" class="form-control" [(ngModel)]="name" [ngClass]="name == ''? 'is-invalid': ''"  />
      <br/>
       <button type="submit" class="btn btn-primary" *ngIf="name != ''" (click)="onSubmit()">Guardar</button>
    <div class="dropdown-divider"></div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of categories">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>
</div>

