<div class="container-fluid">

    <!-- Page Heading -->

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Realizar una venta</h1>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <nav class="navbar navbar-light bg-light justify-content-between">
                        <a class="navbar-brand"></a>
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    </nav>
                </div>
            <!-- Content Row -->
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 card-select">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Seleccione</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Venta con credito</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 card-select">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Seleccione</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Venta con debito</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 card-select">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Seleccione</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Venta en efectivo</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-money-bill-wave fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 card-select">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Seleccione</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Venta con transferencia</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-wallet fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->
            </div>

            
               <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <form class="form-inline">
                  <input  class="form-control mr-sm-2" type="search" placeholder="Ingrese codigo de barras" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar productos</button>
                </form>
                <form class="form-inline">
                    <input  class="form-control mr-sm-2" type="search" placeholder="Ingresar dni del cliente" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar cliente</button>
                </form>
              </nav>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">photo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio venta</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>
                          <button type="button" style="margin-right: 3px;" class="btn btn-info btn-sm">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" style="margin-right: 3px;" class="btn btn-success btn-sm">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button type="button" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- start pagination -->
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" style="cursor: pointer;"><i class="fa fa-arrow-left"  ></i></a>
                      </li>
                    
                      <li class="page-item">
                        <a class="page-link" style="cursor: pointer;" ><i class="fa fa-arrow-right"></i></a>
                      </li>
                    </ul>
                  </nav>
                  <!-- end pagination -->
            </div>
        </div>
    </div>

</div>