<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Realizar una venta</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand"></a>
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </nav>
        </div>
    <!-- Content Row -->
    <div class="row">
      <app-bar-selection></app-bar-selection>
    </div>

  <app-sale-detail></app-sale-detail>

</div>