
               <!-- DataTales Example -->
               <div class="card shadow mb-4">
                <div class="card-header py-3" *ngIf="show">
                    <nav class="navbar navbar-light bg-light justify-content-between">
                        <form class="form-inline">
                          <input  class="form-control mr-sm-2" type="search" placeholder="Ingrese codigo de barras" aria-label="Search">
                          <button (click)="openDialogProductList()" type="button" class="btn btn-outline-success my-2 my-sm-0">Buscar productos</button>
                        </form>
                        <form class="form-inline">
                            <input  class="form-control mr-sm-2" type="search" placeholder="Ingresar dni del cliente" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar cliente</button>
                        </form>
                      </nav>
                </div>

                <div *ngIf="show" class="card-body" style="width: 680px;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">photo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio total</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of products; index as i">
                                <td>
                                  <img *ngIf="item.photo" width="30px" height="30px"  alt="" [src]="item.photo" >
                                  <img *ngIf="!item.photo" width="30px" height="30px" src="assets/img/package.png" alt="">
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.price_sale.toString()| currency }}</td>
                                <td>{{ item.mount }}</td>
                                <td>{{ item.total_price?.toString()| currency }}</td>
                                <td>
                                  <button type="button" style="margin-right: 3px;" class="btn btn-info btn-sm">
                                    <i class="fa fa-plus"></i>
                                  </button>

                                  <button (click)="removeItem(item)" type="button" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- start pagination -->
                          <nav aria-label="...">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" style="cursor: pointer;"><i class="fa fa-arrow-left"  ></i></a>
                              </li>

                              <li class="page-item">
                                <a class="page-link" style="cursor: pointer;" ><i class="fa fa-arrow-right"></i></a>
                              </li>
                            </ul>
                          </nav>
                          <!-- end pagination -->

                        <div *ngIf="show && select_type == 'money'" class="footer_prices">
                          <h1>Total {{ total.toString()| currency }}</h1>
                          <input [type]="'number'" class="form-control" (keyup)="changePay()" [(ngModel)]="paywith" placeholder="Abono con ..."  type="number" name="" id="">
                          <br>
                          <input class="form-control" [(ngModel)]="payback" placeholder="devolver ..." disabled  type="number" name="" id="">
                        </div>

                    </div>

                </div>


            </div>
