<div class="card-header py-3">
  <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Listado de productos</a>
      <form class="form-inline">
        <select class="form-control mr-sm-2" aria-label="Search">
          <option value="name">Nombre</option>
          <option value="description">Descricion</option>
        </select>
        <input class="form-control mr-sm-2" type="search" placeholder="realice una busqueda" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </nav>
</div>

<div class="card-body">
  <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">photo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Codigo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Stock</th>
              <th scope="col">Precio venta</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer;" *ngFor="let item of products" (click)="openDialogMount(item)" >
              <td>
                <img *ngIf="item.photo" width="30px" height="30px"  alt="" [src]="item.photo" >
                <img *ngIf="!item.photo" width="30px" height="30px" src="assets/img/package.png" alt="">
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.barcode }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.stock }}</td>
              <td>{{ item.price_sale | currency }}</td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
