
 <!-- Begin Page Content -->
 <div class="container-fluid">
    <!-- Page Heading -->
    
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand">Editar producto</a>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </nav>
            </div>
            <!-- message start -->
            <p> <ngb-alert *ngIf="message.type"  [type]="message.type" >{{ message.text }}</ngb-alert> </p>
            <!-- message end -->
 
    <div class="row">
        <div class="col">
             <!-- DataTales Example -->
          
                        <div class="card-body">
                            <!-- input control -->
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" formControlName="name" class="form-control" id="id_name" placeholder="Ingrese un nombre">
                                    </div>
                            <!-- input control -->
                            <!-- input control -->
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control" formControlName="description" id="id_description" placeholder="Ingrese una descripcion">
                                </div>
                            <!-- input control -->
                            <!-- input control -->
                                <div class="mb-3">
                                    <label for="price_sale" class="form-label">Precio de venta</label>
                                    <input type="number" class="form-control" formControlName="price_sale" id="id_price_sale" placeholder="Precio de venta">
                                </div>
                            <!-- input control -->
                            <!-- input control -->
                            <div class="mb-3">
                                <label for="price_buy" class="form-label">Precio de compra</label>
                                <input type="number" class="form-control" formControlName="price_buy" id="id_price_buy" placeholder="Precio de venta">
                            </div>
                        <!-- input control -->
                            
                        </div>
                  
        </div>
        <div class="col">
            <div class="card-body">
                 <!-- input control -->
                 <img *ngIf="!img_product" src="../../../../assets/img/package.png" width="100px" height="100px" alt="" sizes="" >
                 <img *ngIf="img_product" [src]="img_product" width="100px" height="100px" alt="" sizes="" >
                    <div class="mb-3">
                        <label for="photo" class="form-label">Para cambiar imagen, utilice el boton</label>
                        <input class="form-control" id="photo" type="file" />
                    </div>
                <!-- input control -->
                <!-- input control -->
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock Actual</label>
                        <input type="number" class="form-control" formControlName="stock" id="id_stock" placeholder="Stock">
                    </div>
                <!-- input control -->
                <!-- input control -->
                    <div class="mb-3">
                        <label for="stock_min" class="form-label">Stock minimo</label>
                        <input type="number" class="form-control" formControlName="stock_min" id="id_stock_min" placeholder="Stock minimo">
                    </div>
                <!-- input control -->
            </div>
        </div>
    </div>


    </div>
</form>
   
</div>
<!-- /.container-fluid -->