
 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand">Alta de productos</a>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </nav>
            </div>

    <!-- message start -->
    <p> <ngb-alert *ngIf="message.type"  [type]="message.type" >{{ message.text }}</ngb-alert> </p>
    <!-- message end -->

    <div class="row">
        <div class="col">
             <!-- DataTales Example -->
          
                        <div class="card-body">
                            <!-- input control -->
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Codigo de Barras</label>
                                        <input type="text" formControlName="barcode" class="form-control" [ngClass]="barcode?.invalid && (barcode?.dirty || barcode?.touched)? 'is-invalid': ''" id="id_barcode" placeholder="Ingrese codigo" >
                                        <div class="invalid-feedback">
                                            Error en el campo Codigo de barras.
                                        </div>
                                    </div>
                            <!-- input control -->
                            <!-- input control -->
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" formControlName="name" class="form-control" [ngClass]="name?.invalid && (name?.dirty || name?.touched)? 'is-invalid': ''" id="id_name" placeholder="Ingrese un nombre" >
                                        <div class="invalid-feedback">
                                            Error en el campo Nombre.
                                        </div>
                                    </div>
                            <!-- input control -->
                            <!-- input control -->
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control" formControlName="description" id="id_description" [ngClass]="description?.invalid && (description?.dirty || description?.touched)? 'is-invalid':''" placeholder="Ingrese una descripcion">
                                    <div class="invalid-feedback">
                                        Error en el campo Descripcion.
                                    </div>
                                </div>
                            <!-- input control -->
                            <!-- input control -->
                                <div class="mb-3">
                                    <label for="price_sale" class="form-label">Precio de venta</label>
                                    <input type="number" class="form-control" [ngClass]="price_sale?.invalid && (price_sale?.touched || price_sale?.dirty)?'is-invalid': ''" formControlName="price_sale" id="id_price_sale" placeholder="Precio de venta">
                                    <div class="invalid-feedback">
                                        Error en el campo Precio de venta.
                                    </div>
                                </div>
                            <!-- input control -->
                            <!-- input control -->
                            <div class="mb-3">
                                <label for="price_buy" class="form-label">Precio de compra</label>
                                <input type="number" class="form-control" [ngClass]="price_buy?.invalid && (price_buy?.dirty || price_buy?.touched)? 'is-invalid': ''" formControlName="price_buy" id="id_price_buy" placeholder="Precio de venta">
                                <div class="invalid-feedback">
                                    Error en el campo Precio de compra.
                                </div>
                            </div>
                        <!-- input control -->
                        <!-- input control -->
                            <div class="mb-3">
                                <label for="photo" class="form-label">Imagen</label>
                                <input class="form-control" id="photo" type="file" (change)="onFileSelect($event)" />
                                <div class="invalid-feedback">
                                    Error en el campo Imagen.
                                </div>
                            </div>
                        <!-- input control -->
                            
                        </div>
                  
        </div>
        <div class="col">
            <div class="card-body">
                
                <!-- input control -->
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock Actual</label>
                        <input type="number" class="form-control" [ngClass]="stock?.invalid && (stock?.dirty || stock?.touched)?'is-invalid': ''" formControlName="stock" id="id_stock" placeholder="Stock">
                        <div class="invalid-feedback">
                            Error en el campo Stock actual.
                        </div>
                    </div>
                <!-- input control -->
                <!-- input control -->
                    <div class="mb-3">
                        <label for="stock_min" class="form-label">Stock minimo</label>
                        <input type="number" class="form-control" [ngClass]="stock_min?.invalid && (stock_min?.touched || stock_min?.dirty)?'is-invalid':''" formControlName="stock_min" id="id_stock_min" placeholder="Stock minimo">
                        <div class="invalid-feedback">
                            Error en el campo Stock minimo.
                        </div>
                    </div>
                <!-- input control -->

                 <!-- input control -->
                 <div class="mb-3">
                    <label for="id_category" class="form-label">Seleccionar Categoria</label>
                    <select formControlName="category" class="form-control" [ngClass]="category?.invalid && (category?.touched || category?.dirty)?'is-invalid':''" name="" id="id_category" style="width: 80%;">
                        <option *ngFor="let item of categories" [value]="item.id">{{ item.description }}</option>
                    </select>
                    <button class="btn btn-primary" (click)="openCategory(content_category)" style="border: solid 1px; width: 10%; position: absolute; left: 80%; top: 40%;" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="invalid-feedback">
                        Error en el campo Categorias.
                    </div>
                </div>
                <!-- input control -->

                <!-- input control -->
                <div class="mb-3">
                    <label for="id_brand" class="form-label">Seleccionar Marca</label>
                    <select formControlName="brand" class="form-control" [ngClass]="brand?.invalid &&(brand?.touched || brand?.dirty)?'is-invalid':''" id="id_brand" style="width: 80%;">
                        <option *ngFor="let item of brands" [value]="item.id">{{ item.description }}</option>
                    </select>
                    
                    <button class="btn btn-primary" (click)="openBrand(content_brand)" style="border: solid 1px; width: 10%; position: absolute; left: 80%; top: 55%;" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="invalid-feedback">
                        Error en el campo Marcas.
                    </div>
                </div>                 
                <!-- input control -->
            </div>
        </div>
    </div>


    </div>
</form>

<ng-template #content_brand let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Marca</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <app-brand></app-brand>
</ng-template>

<ng-template #content_category let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Categoria</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <app-category (saved)="onSaved()"></app-category>
</ng-template>

</div>
<!-- /.container-fluid -->