

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="card">
        <div class="card-body mx-4">
          <div class="container">
            <p class="my-6 mx-6" style="font-size: 15px;">Gracias por su compra</p>
            <p>Ticket no valido como factura </p>
            <div class="row">
              <ul class="list-unstyled">
                <li *ngIf="sale?.client"  class="text-black">{{ sale?.client }}</li>
                <li class="text-muted mt-1"><span class="text-black">Ticket</span> #{{ sale?.id }}</li>
                <li class="text-black mt-1">{{ sale?.date_sale }}</li>
              </ul>
              <hr>

            </div>

            <div *ngIf="sale?.details">
              <div class="row" *ngFor="let item of sale!.details">
                <div class="col-xl-10">
                  <p>{{ item.product.name }}</p>
                </div>
                <div class="col-xl-2">
                  <p class="float-end">{{ item.product.price_sale }}</p>
                </div>
                <hr style="border: 2px solid black;">
              </div>
            </div>

            <div class="row text-black">

              <div class="col-xl-12">
                <p class="float-end fw-bold">Total: {{ sale?.total }}
                </p>
              </div>
              <hr style="border: 2px solid black;">
            </div>
            <div class="text-center" style="margin-top: 90px;">
              <p *ngIf="sale?.type_payment == 'PaymentMethod.TRANSFER'">Pago por transferencia</p>
              <p *ngIf="sale?.type_payment == 'PaymentMethod.DEBIT'">Pago por debito bancario</p>
              <p *ngIf="sale?.type_payment == 'PaymentMethod.CASH'">Pago en efectivo</p>
              <p *ngIf="sale?.type_payment == 'PaymentMethod.CREDIT'">Pago por credito bancario</p>
              <a><u class="text-info">Imprimir</u></a>
              <p>Usuario cajero. </p>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
