 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">Listado de productos</a>
                <form class="form-inline">
                  <select [(ngModel)]="search_field" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" aria-label="Search">
                    <option value="name">Nombre</option>
                    <option value="description">Descricion</option>
                  </select>
                  <input [(ngModel)]="search_value" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="search" placeholder="realice una busqueda" aria-label="Search">
                  <button (click)="searchProduct()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
              </nav>
        </div>
        <!-- message start -->
        <p> <ngb-alert *ngIf="message.type"  [type]="message.type" >{{ message.message }}</ngb-alert> </p>
        <!-- message end -->
        <app-view (openView)="closeView($event)" [item]="item" [open_view]="open_view"></app-view>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">photo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio venta</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of list.results">
                        <td>
                          <img *ngIf="product.photo" width="30px" height="30px" [src]="product.photo" alt="">
                          <img *ngIf="!product.photo" width="30px" height="30px" src="assets/img/package.png" alt="">
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.price_sale | currency }}</td>
                        <td>
                          <button type="button" (click)="edit(product.id)" style="margin-right: 3px;" class="btn btn-info btn-sm">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" (click)="onView(product)"  style="margin-right: 3px;" class="btn btn-success btn-sm">
                            <i class="fa fa-eye"></i>
                          </button>
                          <button (click)="onDelete(product.id, product.name)" type="button" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- start pagination -->
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item" [ngClass]="{'disabled': list.previous == null}">
                        <a (click)="previous()" class="page-link" style="cursor: pointer;"><i class="fa fa-arrow-left"  ></i></a>
                      </li>
                    
                      <li class="page-item" [ngClass]="{'disabled': list.next == null}">
                        <a (click)="next()" class="page-link" style="cursor: pointer;" ><i class="fa fa-arrow-right"></i></a>
                      </li>
                    </ul>
                  </nav>
                  <!-- end pagination -->
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>