 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">

                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" (click)="changeStateProduct()" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <fa-icon [icon]="faFolderProduct"></fa-icon>
                    <span>&nbsp;&nbsp;Productos</span>
                </a>
                <!-- collapse show -->
                <div id="collapsePages" [className]="cssProduct" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Aplicaciones:</h6>
                        <a class="collapse-item" routerLinkActive="active" [routerLink]="['/products/create']">Cargar</a>
                        <a class="collapse-item" routerLinkActive="active" [routerLink]="['/products/list']">Listado</a>
                        <h6 class="collapse-header">Reportes:</h6>
                        <a class="collapse-item" href="#">Stock</a>
                        <a class="collapse-item" href="#">Más vendidos</a>
                    </div>
                </div>


                
            </li>

            <li class="nav-item active">
                <a class="nav-link" (click)="changeStateProduct()" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <fa-icon [icon]="faFolderProduct"></fa-icon>
                    <span>&nbsp;&nbsp;Clientes</span>
                </a>

            <div id="collapsePages" [className]="cssProduct" aria-labelledby="headingPages"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Aplicaciones:</h6>
                    <a class="collapse-item" routerLinkActive="active" [routerLink]="['clients/create']">Cargar</a>
                    <a class="collapse-item" routerLinkActive="active" [routerLink]="['clients/list']">Listado</a>
                    <h6 class="collapse-header">Reportes:</h6>
                    <a class="collapse-item" href="#">Stock</a>
                    <a class="collapse-item" href="#">Más vendidos</a>
                </div>
            </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
