
 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->

    <form novalidate>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand">Alta de Clientes</a>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </nav>
            </div>

    
    <div class="row">
        <div class="col">
             <!-- DataTales Example -->
          
                        <div class="card-body">
                            <!-- input control -->
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" formControlName="name" class="form-control"  id="id_name" placeholder="Ingrese un nombre">
                                        <div class="invalid-feedback">
                                            Error en el campo Nombre.
                                        </div>
                                    </div>
                            <!-- input control -->
                            <!-- input control -->
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descripcion</label>
                                    <input type="text" class="form-control" formControlName="description" id="id_description"  placeholder="Ingrese una descripcion">
                                    <div class="invalid-feedback">
                                        Error en el campo Descripcion.
                                    </div>
                                </div>
                            <!-- input control -->
                            <!-- input control -->
                                <div class="mb-3">
                                    <label for="price_sale" class="form-label">Precio de venta</label>
                                    <input type="number" class="form-control"  id="id_price_sale" placeholder="Precio de venta">
                                    <div class="invalid-feedback">
                                        Error en el campo Precio de venta.
                                    </div>
                                </div>
                            <!-- input control -->
                            <!-- input control -->
                            <div class="mb-3">
                                <label for="price_buy" class="form-label">Precio de compra</label>
                                <input type="number" class="form-control"  id="id_price_buy" placeholder="Precio de venta">
                                <div class="invalid-feedback">
                                    Error en el campo Precio de compra.
                                </div>
                            </div>
                        <!-- input control -->
                            
                        </div>
                  
        </div>
        <div class="col">
            <div class="card-body">
                 <!-- input control -->
                    <div class="mb-3">
                        <label for="photo" class="form-label">Imagen</label>
                        <input class="form-control" id="photo" type="file" />
                        <div class="invalid-feedback">
                            Error en el campo Imagen.
                        </div>
                    </div>
                <!-- input control -->
                <!-- input control -->
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock Actual</label>
                        <input type="number" class="form-control"  id="id_stock" placeholder="Stock">
                        <div class="invalid-feedback">
                            Error en el campo Stock actual.
                        </div>
                    </div>
                <!-- input control -->
                <!-- input control -->
                    <div class="mb-3">
                        <label for="stock_min" class="form-label">Stock minimo</label>
                        <input type="number" class="form-control"  id="id_stock_min" placeholder="Stock minimo">
                        <div class="invalid-feedback">
                            Error en el campo Stock minimo.
                        </div>
                    </div>
                <!-- input control -->

                
            </div>
        </div>
    </div>


    </div>
</form>
   
</div>
<!-- /.container-fluid -->
